<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist Name:</strong>
  <%= link_to @song.artist.name, @song.artist if @song.artist %>
</p>


<p>
  <strong>Genres:</strong>
  <%#= @song.genres.collect(&:name).to_sentence %>
  <%= @song.genres.collect{|g| g.name}.to_sentence %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
